.dataTable {
    .dataGrid {
      background: white;
      padding: 20px;
      overflow-x: auto;
      .MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;
      }
  
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .action {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around; 
        align-items: center;
        gap: 15px;
      }
    }
  }
  
  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .view {
    color: blue;
  }
  
  .delete {
    color: red;
  }
  
  .edit {
    color: green;
  }
  